services:
  - type: web
    name: multi-tenant-restaurant-backend
    runtime: docker
    repo: https://github.com/mquangcao/smart-restaurant
    buildFilter:
      paths:
        - apps/api/**
    plan: free
    dockerContext: .
    dockerfilePath: ./apps/api/Dockerfile

  - type: web
    name: multi-tenant-restaurant-system 
    runtime: docker
    repo: https://github.com/mquangcao/smart-restaurant
    buildFilter:
      paths:
        - apps/web/**
    plan: free
    dockerContext: .
    dockerfilePath: ./apps/web/Dockerfile
version: '1'
